.mdl-layout__content
  .p-room__tab-panel.is-active.mt10
    %section.p-room__section--center.mdl-grid
      = form_for @room, url: rooms_path, method: :post, html: {class: 'p-room__card--wide'} do |f|
        .mdl-card__title
          %h2.mdl-card__title-text Create yout talk room
        .mdl-card__supporting-text.p-room__card-body
          %span.bold #{request.protocol}#{request.host}#{":#{request.port}" if request.port.present?}/rooms/
          .mdl-textfield.mdl-js-textfield.ml5.p-room__name
            = f.text_field :name, class: 'mdl-textfield__input', id: 'room-name', pattern: '[0-9a-zA-Z!$\+\-@_]{4,30}'
            = f.label :name, class: 'mdl-textfield__label', value: 'Room name'
          %p available characters: number, alphabet, !$+-@_
          .p-room__error
            - unless @room.errors.empty?
              %ul.mdl-list
                - @room.errors.full_messages.each do |message|
                  %li.mdl-list__item
                    %span.p-room__error-item #{message}

        .mdl-card__actions.mdl-card--border
          %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.p-room__button--create
            Create new room

  .mdl-grid.p-room__typography-area
    .p-room__typography-text.mdl-cell.mdl-cell--6-col
      .mdl-typography--display-2.mdl-typography--font-bold
        .p-room__typography-text--title Talker SignUpper is a tool for Lightning Talks
        .mdl-typography--headline.mdl-typography--font-thin.tac
          %p.mdl-typography--headline.mdl-typography--font-thin.mt10.pt20
            room to Talker SignUpper!
          %p.mdl-typography--font-thin
            Talker SignUpper helps your talk event. Take it easy! Let's start your Lightning Talks event.


  .p-room__typography-text--title
    .mdl-typography--font-light.mdl-typography--display-1-color-contrast.pt20
      Features
    %ul.p-room__list
      %li.mdl-list__item
        %i.material-icons.mdl-list__item-icon checkbox
        create room and share the URL
      %li.mdl-list__item
        %i.material-icons.mdl-list__item-icon checkbox
        register talk content and reflect it in realtime
      %li.mdl-list__item
        %i.material-icons.mdl-list__item-icon checkbox
        shuffle order in your room
      %li.mdl-list__item
        %i.material-icons.mdl-list__item-icon checkbox
        vote favorite talk in your room

.p-room__spacer
