-# frozen_string_literal: true
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title TalkerSignUpper
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=ja'
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    = javascript_include_tag 'application'
  %body
    .mdl-layout__container
      .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        = yield

    %footer.mdl-mega-footer
      %p.tac Copyright &copy; 2017 muryoimpl
